    <!-- Header -->
    <header>
        <div class="header-container container">
            <a href="/" style="text-decoration: none; color: inherit;">
            <div class="logo">
                EchoSafe
            </div>
            </a>
            <button class="mobile-menu-btn">
                <i class="fas fa-bars"></i>
            </button>
            
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/">Features</a></li>
                    <li><a href="/">How It Works</a></li>
                    <li><a href="/guidelines" style="text-decoration: none; color: inherit;">Guidelines</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>